# Name: V Raghav Anand

# Register Number: 19BCE1415

# Machine Learning Lab (CSE4020)

# Faculty: Prof. Abdul Quadir MD

# IMBALANCED DATASET

In [1]:
import numpy as np
import pandas as pd
from imblearn.over_sampling import RandomOverSampler,SMOTE
from imblearn.under_sampling import RandomUnderSampler
from collections import Counter

## Reading the dataset and performing basic analysis

In [2]:
dataset=pd.read_csv("car_evaluation.csv")

In [3]:
dataset

      vhigh vhigh.1      2   2.1  small   low  unacc
0     vhigh   vhigh      2     2  small   med  unacc
1     vhigh   vhigh      2     2  small  high  unacc
2     vhigh   vhigh      2     2    med   low  unacc
3     vhigh   vhigh      2     2    med   med  unacc
4     vhigh   vhigh      2     2    med  high  unacc
...     ...     ...    ...   ...    ...   ...    ...
1722    low     low  5more  more    med   med   good
1723    low     low  5more  more    med  high  vgood
1724    low     low  5more  more    big   low  unacc
1725    low     low  5more  more    big   med   good
1726    low     low  5more  more    big  high  vgood

[1727 rows x 7 columns]

In [4]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1727 entries, 0 to 1726
Data columns (total 7 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   vhigh    1727 non-null   object
 1   vhigh.1  1727 non-null   object
 2   2        1727 non-null   object
 3   2.1      1727 non-null   object
 4   small    1727 non-null   object
 5   low      1727 non-null   object
 6   unacc    1727 non-null   object
dtypes: object(7)
memory usage: 94.6+ KB

In [5]:
dataset.describe()

       vhigh vhigh.1     2   2.1 small   low  unacc
count   1727    1727  1727  1727  1727  1727   1727
unique     4       4     4     3     3     3      4
top      med     med     4     4   med   med  unacc
freq     432     432   432   576   576   576   1209

## Naming the columns more appropriately

In [6]:
dataset.columns =['Buying', 'Maintenance', 'Doors', 'Person','Luggage','Safety','Outcome']

## Replacing string values with numericals

In [7]:
dataset["Doors"].replace({"5more": 6}, inplace=True)
dataset["Person"].replace({"more": 6}, inplace=True)

In [8]:
dataset

     Buying Maintenance Doors Person Luggage Safety Outcome
0     vhigh       vhigh     2      2   small    med   unacc
1     vhigh       vhigh     2      2   small   high   unacc
2     vhigh       vhigh     2      2     med    low   unacc
3     vhigh       vhigh     2      2     med    med   unacc
4     vhigh       vhigh     2      2     med   high   unacc
...     ...         ...   ...    ...     ...    ...     ...
1722    low         low     6      6     med    med    good
1723    low         low     6      6     med   high   vgood
1724    low         low     6      6     big    low   unacc
1725    low         low     6      6     big    med    good
1726    low         low     6      6     big   high   vgood

[1727 rows x 7 columns]

In [9]:
x=dataset.iloc[:,:-1]
y=dataset.Outcome
x.head()

  Buying Maintenance Doors Person Luggage Safety
0  vhigh       vhigh     2      2   small    med
1  vhigh       vhigh     2      2   small   high
2  vhigh       vhigh     2      2     med    low
3  vhigh       vhigh     2      2     med    med
4  vhigh       vhigh     2      2     med   high

## Changing string values to numeric values using LabelEncoder

In [10]:
from sklearn.preprocessing import LabelEncoder
enc=LabelEncoder()
x.loc[:,['Buying','Maintenance','Luggage','Safety']]=x.loc[:,['Buying','Maintenance','Luggage','Safety']].apply(enc.fit_transform)
x.head()

C:\Users\Raghav\anaconda3\lib\site-packages\pandas\core\indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)
<ipython-input-10-76606c041881>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  x.loc[:,['Buying','Maintenance','Luggage','Safety']]=x.loc[:,['Buying','Maintenance','Luggage','Safety']].apply(enc.fit_transform)

  Buying Maintenance Doors Person Luggage Safety
0      3           3     2      2       2      2
1      3           3     2      2       2      0
2      3           3     2      2       1      1
3      3           3     2      2       1      2
4      3           3     2      2       1      0

## Using the KNN classification algorithm

In [11]:
from sklearn.neighbors import KNeighborsClassifier
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import GaussianNB
from sklearn.metrics import accuracy_score

In [12]:
def naive(x_train_fn,y_train_fn,x_test_fn,y_test_fn):
    model=KNeighborsClassifier()
    model.fit(x_train_fn,y_train_fn)
    prediction=model.predict(x_test_fn)
    print("Accuracy is: ",accuracy_score(y_test_fn,prediction))
    print(pd.crosstab(y_test_fn,prediction))

## Training the model and checking accuracy (85.16%)

In [13]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.3,random_state=10)
naive(x_train,y_train,x_test,y_test)

Accuracy is:  0.8516377649325626
col_0    acc  good  unacc  vgood
Outcome
acc       77     6     40      0
good      10     6      0      0
unacc      8     0    350      0
vgood     11     1      1      9

## Oversampling method

In [14]:
oversampler=RandomOverSampler()
x_train_OS,y_train_OS=oversampler.fit_resample(x_train.astype('float'),y_train)
print("Before oversampling method: ",Counter(y_train))
print("After applying oversampling method: ",Counter(y_train_OS))

Before oversampling method:  Counter({'unacc': 851, 'acc': 261, 'good': 53, 'vgood': 43})
After applying oversampling method:  Counter({'unacc': 851, 'acc': 851, 'good': 851, 'vgood': 851})

## But the obtained results have relatively lesser accuracy (71.4%)

In [15]:
naive(x_train_OS,y_train_OS,x_test,y_test)

Accuracy is:  0.7148362235067437
col_0    acc  good  unacc  vgood
Outcome
acc       77    30      4     12
good       6     9      0      1
unacc     66    17    268      7
vgood      4     1      0     17

## Undersampling method

In [16]:
undersampler=RandomUnderSampler()
x_train_US,y_train_US=undersampler.fit_resample(x_train.astype('float'),y_train)
print("Before undersampling method: ",Counter(y_train))
print("After applying undersamping method: ",Counter(y_train_US))

Before undersampling method:  Counter({'unacc': 851, 'acc': 261, 'good': 53, 'vgood': 43})
After applying undersamping method:  Counter({'acc': 43, 'good': 43, 'unacc': 43, 'vgood': 43})

## The accuracy is still very poor (44.70%)

In [17]:
naive(x_train_US,y_train_US,x_test,y_test)

Accuracy is:  0.44701348747591524
col_0    acc  good  unacc  vgood
Outcome
acc       30    60      3     30
good       2    14      0      0
unacc     67    92    169     30
vgood      0     3      0     19

## Using SMOTE method

In [18]:
smote=SMOTE()
x_train_smote,y_train_smote=smote.fit_resample(x_train.astype('float'),y_train)
print("Before SMOTE: ",Counter(y_train))
print("Before SMOTE: ",Counter(y_train_smote))

Before SMOTE:  Counter({'unacc': 851, 'acc': 261, 'good': 53, 'vgood': 43})
Before SMOTE:  Counter({'unacc': 851, 'acc': 851, 'good': 851, 'vgood': 851})

In [19]:
naive(x_train_smote,y_train_smote,x_test,y_test)

Accuracy is:  0.8477842003853564
col_0    acc  good  unacc  vgood
Outcome
acc       91    16      9      7
good       2    14      0      0
unacc     33     6    318      1
vgood      4     1      0     17

## Accuracy of 84.77% is obtained, however the imbalance in the dataset is better taken care of by using these methods, and SMOTE gives better results compared to oversampling and undersampling